# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
CMakeFiles/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Figs and movies
*.png
*.avi
*.mp4
#
# time dirs and logs, backups
[0-9]*
*log
*~
